ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
  }
  
  h3 {
    font-size: 1.5em;
    color: #333;
  }
  
  p {
    color: #555;
  }
  
  a {
    color: #007bff;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  